.home-wrapper {
    background-image: url("/resources/images/background.jpg");
    background-color: #0b2e13;
}

.row-header{
    margin:0px;
    padding: 0px auto;
    font-color: #0f0f0f
}
.jumbotron{
    padding:70px 30px 70px 30px;
    margin: 0px auto;
    background: #9575CD;
    color: floralwhite;
}
